body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px; /* Adjust as needed */
  margin-right: 20px; /* Adjust as needed */
}
